* {margin: 0; padding: 0; outline: 0;}
body {
	text-align: center;
	font-family: 'Arial Rounded MT Bold', Verdana;
	font-size: 12px;
	overflow-x: hidden;
	background-color: #959595;
	background-image: url('../images/big_background.jpg');
	background-position: center 154px;
	color: #353535;
}
a {text-decoration: none; color: #d2004f;}
a:hover {color: #ff0060;}
table {width: 100%; border-spacing: 5px;}
table tr td {border: 1px solid black; padding: 3px 7px;}
table col.first {width: 40%;}
table col.second {width: 30%;}
table col.third {width: 30%;}
/***********************************/
/************* Layout **************/
/***********************************/
div#main {
	width: 926px;
	text-align: left;
	margin: 0 auto;
	background-color: transparent;
	min-height: 500px;
	padding: 12px;
}
div#header_wrapper {height: 50px; background-color: #3d0400; border-bottom: 2px solid #d2004f;}
div#header {width: 926px; margin: 0 auto; padding-left: 12px; padding-right: 12px;}
div#title_wrapper {height: 100px; background-color: #ccc; border-bottom: 2px solid #efefef;}
div#title {width: 926px; margin: 0 auto; padding-left: 12px; padding-right: 12px; text-align: left;}
div#title h1 {line-height: 100px; font-size: 48px;}
div#header ul#menu {list-style-type: none;}
div#header ul#menu li {float:left; padding-right: 10px; height: 50px;}
div#header ul#menu li a {font-size: 1.333em; line-height: 50px;}
div#left_side {float: left; position: relative;}
div#right_side {float: right; width: 312px;}
div#right_side div.harmonicon-title {
	width: 312px; height: 40px;
	background: url('../images/harmonicon_title.png') top left no-repeat;
	margin-bottom: 4px;
}
div#right_side div.harmonicon-title a {font-size: 1.333em; line-height: 40px; padding: 0 0 0 20px;}
div#right_side h4 {color: #3d0400; font-size: 1.333em;}
/***********************************/
/************ Classes **************/
/***********************************/
img#big {
	position: absolute;
	top: 8px; left: 8px;
}
img#frame {
	position: absolute;
	top: 0px; left: 0px;
}
/************ Carousel *************/
div.carousel-out {
	height: 170px;
	position: relative;
	}
div.carousel-in {
	height: 170px;
	width: 850px;
	overflow: hidden;
	position: absolute;
	top: 0px; left: 50px;
}
div.slider {
	height: 170px;
	width: 2550px;
	position: absolute;
	top: 0px;
	left: -850px;
}
div.item {
	height: 170px;
	width: 170px;
	position: relative;
	float: left;
}
div.item img {
	position: absolute;
}
div.item img.photo {top: 25px; left: 25px;}
div.item img.top {top: 17px; left: 17px;}
div.control-prev {
	width: 50px;
	height: 170px;
	top: 0px; left: 0px;
	position: absolute;
}
div.control-next {
	width: 50px;
	height: 170px;
	top: 0px; left: 900px;
	position: absolute;
}
div.control-arrow-prev {
	margin: 68px 0 0 8px;
	width: 34px;
	height: 34px;
	background-image: url("../images/prev-horizontal.png");
	background-position: 0px 0px;
}
div.control-arrow-next {
	margin: 68px 0 0 8px;
	width: 34px;
	height: 34px;
	background-image: url("../images/next-horizontal.png");
	background-position: -102px 0px;
}

/************* Lightbox ***************/
div.lightbox {
	display: none;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
div.lightbox_content {
	display: none;
	position: absolute;
	/*top: 25%; left: 25%;
	width: 50%;
	height: 50%;
	border: 16px solid #3399ff;*/
	background-color: white;
	overflow: auto;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;	
}
img.close-button {
	display: none;
	top: 5px; right: 5px;
	position: absolute;
}
/**************************************/
/********** General classes ***********/
/**************************************/
.red-border {border: 1px solid red;}
.green-border {border: 1px solid green;}
.blue-border {border: 1px solid blue;}
.purple-border {border: 1px solid purple;}
.bold {font-weight: bold;}
.clear {clear: both;}
